<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Titlul paginii</title>
</head>
<body>
<form>
    <label for="doctor">Doctor:</label>
    <select id="doctor" name="doctor">
        <option value="">Selectați un doctor</option>
        <option th:each="doctor : ${doctors}"
                th:value="${doctor.id}"
                th:text="${doctor.name}">
        </option>
    </select>
</form>
</body>
</html>
