<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
<h1>Login Form</h1>
<form method="post" action="/users/login2">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" placeholder="Enter your username"><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="Enter your password"><br>

    <button type="submit">Login</button>

    <!-- Display error message if authentication fails -->
    <div th:if="${error}" style="color: red">Invalid username or password</div>
</form>
</body>
</html>
